In [1]:
from sqlmodel import Field, SQLModel


class Hero(SQLModel, table=True):
    id: int | None = Field(default=None, primary_key=True)
    name: str
    secret_name: str
    age: int | None = None

In [2]:
hero_1 = Hero(name="Deadpond", secret_name="Dive Wilson")
hero_2 = Hero(name="Spider-Boy", secret_name="Pedro Parqueador")
hero_3 = Hero(name="Rusty-Man", secret_name="Tommy Sharp", age=48)

In [3]:
from sqlmodel import create_engine
engine = create_engine("sqlite+pysqlite:///:memory:", echo=True)
SQLModel.metadata.create_all(engine)

2025-11-14 02:27:48,483 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-11-14 02:27:48,485 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("hero")
2025-11-14 02:27:48,487 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-11-14 02:27:48,489 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("hero")
2025-11-14 02:27:48,490 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-11-14 02:27:48,493 INFO sqlalchemy.engine.Engine
CREATE TABLE hero (
	id INTEGER NOT NULL,
	name VARCHAR NOT NULL,
	secret_name VARCHAR NOT NULL,
	age INTEGER,
	PRIMARY KEY (id)
)


2025-11-14 02:27:48,495 INFO sqlalchemy.engine.Engine [no key 0.00141s] ()
2025-11-14 02:27:48,496 INFO sqlalchemy.engine.Engine COMMIT

In [4]:
from sqlmodel import Session

with Session(engine) as session:
    session.add(hero_1)
    session.add(hero_2)
    session.add(hero_3)
    session.commit()

2025-11-14 02:28:25,874 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-11-14 02:28:25,877 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?) RETURNING id
2025-11-14 02:28:25,878 INFO sqlalchemy.engine.Engine [generated in 0.00025s (insertmanyvalues) 1/3 (ordered; batch not supported)] ('Deadpond', 'Dive Wilson', None)
2025-11-14 02:28:25,879 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?) RETURNING id
2025-11-14 02:28:25,880 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/3 (ordered; batch not supported)] ('Spider-Boy', 'Pedro Parqueador', None)
2025-11-14 02:28:25,881 INFO sqlalchemy.engine.Engine INSERT INTO hero (name, secret_name, age) VALUES (?, ?, ?) RETURNING id
2025-11-14 02:28:25,882 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/3 (ordered; batch not supported)] ('Rusty-Man', 'Tommy Sharp', 48)
2025-11-14 02:28:25,884 INFO sqlalchemy.engine.Engine COMMIT

In [5]:
from sqlmodel import select

with Session(engine) as session:
    statement = select(Hero).where(Hero.name == "Spider-Boy")
    hero = session.exec(statement).first()
    print(hero)

2025-11-14 02:29:46,779 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-11-14 02:29:46,783 INFO sqlalchemy.engine.Engine SELECT hero.id, hero.name, hero.secret_name, hero.age
FROM hero
WHERE hero.name = ?
2025-11-14 02:29:46,784 INFO sqlalchemy.engine.Engine [generated in 0.00101s] ('Spider-Boy',)
name='Spider-Boy' secret_name='Pedro Parqueador' id=2 age=None
2025-11-14 02:29:46,787 INFO sqlalchemy.engine.Engine ROLLBACK